:root {
    --primary-collor:#E0E0E0;
    --secundy-collor:#333333;
    --terciary-collor:#FFFFFF;
    --quarter-collor:#979797;
  }



* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}
main {
    max-width: 1500px;
}

a , ul{
    text-decoration: none;
    list-style: none;
}

a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color:var(--secundy-collor);

}



/*--------------------STYLE CABECALHO -------------*/

.cabecalho {
    display: flex;
    background: var(--primary-collor);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 31px;
    padding-left: 260px;
    padding-right: 227px;
}



#check {
    display: none;
}

.aba {
    display: none;
}



.logo-class {
    display: flex;
    gap: 0.7em;
}


.link {
    display: flex;
    gap: 0.9em;
}

.controle-financeiro {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--secundy-collor);
}



.navegacao {
    background: var(--terciary-collor);
    padding: 8px 20px 8px 20px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}



.invisibol-h1 {
    display: none;
}



/*--------------------------Style Main --------------------*/

.linha-divisao {
    display: none;
}

/*------------------------- Edtion Formulario----------------*/

.conteudo-principal {
    display: flex;
    width: 100%;
    padding-left: 242px;
    padding-right: 227px;
    justify-content: space-between;
}

.nova-transacao {
    display: flex;
    flex-wrap: wrap;
    background: var(--terciary-collor);
    border: 1px solid var(--quarter-collor);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 20px;
}


.row{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
}


.pequeno-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 10px;
    flex-wrap: nowrap;
    margin: 10px 10px 0px 10px;
}

.grande-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 10px 10px 0px 10px;
}


.input-buttom { 
    max-width: 400px;
}

.texto-nova-transacao {
    display: block;
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
    
}



.transacao-texto{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color:var(--secundy-collor);
    display: block;
    text-align: start;
    font-size: 14px;
    margin-bottom: 5.5px;
    
}




.input-buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    
}

.input-transacao{
    border: 1px solid var(--quarter-collor);
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    width: 380px;
    font-size: 14px;
}

.btn-transacao {
    background: var(--secundy-collor);
    border-radius: 4px;
    margin-top: 20px;
    color: var(--terciary-collor);
    font-size: 14px;
    /* margin: 0; */
    align-items: center;
    height: 32px;
    width: 380px;
    margin-left: 10px;
    margin-bottom: 20px;

}





/*------------------------- Edtion Tabela Extrato -------------*/

.extrato-transacao {
    width: 100%;
    padding-top: 28px;
}

.texto-extrato{
    justify-content: center;
    display: flex;

}


.extrato-transacao .texto-extrato-transacao {

    display: block;
    margin-block-start: 12px;
    margin-block-end: 12px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 20px 20px 0px;
    padding-right: 20px;
    text-align: end;

}



tbody td {
    padding: 13px;
    text-align: left;
    font-weight: 400;
    border-top: solid 1px var(--quarter-collor);
}


tr .valor-inicial {
    text-align: end;
    font-weight: 700;
}

tr .valor-total{
    text-align: end;
    font-weight: 700;
}

tr .texto-mercadoria {
    text-align: start;
    padding-left: 20px;
}

tr .valor-final{
    font-weight: 700;
}

tr .lucro {
    text-align: end;
}

tr .td-vazia, .lucro {
    border-top: 0px;
    padding-top: 0;

}

tr .texto-valor {
    padding-right: 20px;
}

.linha-extra{

        border-bottom: var(--quarter-collor) solid 1px;
        padding: 1px;
}

/*--------------------------- Media Screen Edtion ------------------*/

@media screen and (min-width:1500px){

    .nav {
        margin-right: 67px;
    }
}



@media screen and (max-width: 1334px) {

    

    .cabecalho {
        display:flex;
        justify-content:space-between;
        padding-left: 20px;
        padding-right: 20px;
        
        
    } 

    .conteudo-principal {
        display: flex;
        width: 100%;
        padding-left: 2px;
        padding-right: 19px;
        justify-content: space-between;
    }
    
}


/*--------------------------768px---------------------------*/


@media screen and (max-width: 823px) {


    .cabecalho{
        margin-bottom: 0px;
    }

    .invisibol-h1 {
        display:none;
        font-size: 20px;
        
    }

    .logo-class {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .controle-financeiro {
        display: block;
    }

    .cabecalho .nav {
        display: none;
    }
    
    .menu div {
        width: 33px;
        height: 4px;
        background-color: var(--secundy-collor);
        margin: 4px 0;
    
    }
    
    .aba {

        display: block;
    }
    
    .aba ul {
        list-style-type: none;
        background-color: var(--secundy-collor);
        color: var(--terciary-collor);
        position: fixed;
        height: 100%;
        width: 35.4%;
        right: 0px;
        top: 0px;
        margin: 0px;
        padding: 20px 0;
        font-size: 16px;
        display: none;
        z-index: 2;
    }
    
    .aba ul li:nth-child(1) {
        text-align: left;
    }
    
    .aba ul li {
        text-align: right;
        margin: 7px 0;
        padding: 0 20px;
    
    }
    
    .aba ul li:hover {
        background-color: var(--primary-collor);
        color: var(--secundy-collor);
    }
    
    .aba ul li:nth-child(1) {
        background-color:var(--secundy-collor);
        color: var(--terciary-collor);
    }
    
    .aba:hover ul {
        display: block;
    }


    .line{
        width: 100%;
        padding: 2px;
        border-radius: 10px;
        background-color: var(--secundy-collor);
        
       
    }



    


  /* --------------------- editon transa lado esquerdo --------*/


    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .nova-transacao {
        display: flex;
        flex-direction: column;
        
    
    }

    .texto-nova-transacao {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 13px;
    }

    .input-buttom .row{
        margin-top: 0px;
    }

    .pequeno-input {
        width: calc(20% - 20px);
    }

    .grande-input {
        width: calc(60% - 20px);
    }

    .input-transacao {
        width: 120px;
    }


    .input-buttom {
        flex-direction: row;
        max-width: 48em;
    }


    .transacao-texto {
    
        padding: 0;
        font-size: 12px;
    
    }

    .nova-transacao {
        border: 1px solid var(--quarter-collor);
        margin: 20px;
        width: calc(100% - 20px);
        flex-wrap: wrap;
    }


    .nova-transacao > div {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .input-transacao {
        width: 100%;
    }

    .nova-transacao input, .nova-transacao select {
        border: 1px solid var(--quarter-collor);
        border-radius: 4px;
        height: 32px;
    }

    .nova-transacao button {
        font-size: 12px;
        text-align: center;
        margin-top: 17px;
        width: 200px;
        height: 32px;
        margin-right: 9px;
        padding: 0px;
        
    }

    .btn-transacao {
        width: 20%;
        margin-top: 51px;
        padding-top: 3px;
    }



 /*----------------- Editon Table --------------*/


    table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0.6em;
    }
    

}

@media screen and (max-width: 708px) {

    .logo-class {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .nova-transacao > div {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center    

    }

    .nova-transacao > input, select {
        width: 100%;
        border: 1px solid var(--quarter-collor);
        border-radius: 4px;
        height: 32px;
        
    }
    .aba ul {
        list-style-type: none;
        background-color: var(--secundy-collor);
        color: var(--terciary-collor);
        position: fixed;
        height: 100%;
        width: 85.4%;
        right: 0px;
        top: 0px;
        margin: 0px;
        padding: 20px 0;
        font-size: 16px;
        display: none;
        z-index: 2;
    }   

    .row {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0px 20px;
        display: contents;
    }


    .linha-divisao {
        display: block;
        margin-left: 21px;
        margin-bottom: 10px;
    }

    .nova-transacao button { 
        width: 100%;
        margin: 0px;
        margin-top: 21px ;
        height: 35px;
    }

    .nova-transacao > h2 {
        display: none;
    }

    .nova-transacao {
        border: 0px;
    }
    tr .texto-valor {
        padding-right: 20px;
    }
    tr .valor-inicial {
        text-align: end;
        font-weight: 700;
        flex-wrap: nowrap;
        padding: 0;
        padding-right: 10px;
    }
    .transacao-texto   {

      padding-top: 20px; 
    }
}






