*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a , ul{
    text-decoration: none;
    list-style: none;
}

/*--------------------STYLE CABECALHO -------------*/

.cabecalho {
    display: flex;
    background: #E0E0E0;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 31px;
    padding-left: 260px;
    padding-right: 227px;
}

.logo-class {
    display: flex;
    gap: 0.7em;
}


.link {
    display: flex;
    gap: 0.9em;
}

.controle-financeiro {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #333333;
}


a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color:#333333;

}

.navegacao {
    background: #FFFF;
    padding: 8px 20px 8px 20px;
}

.container{
    display: none;
}

.invisibol-h1 {
    display: none;
}



/*--------------------------Style Main --------------------*/



/*------------------------- Edtion Formulario----------------*/

.conteudo-principal {
    display: flex;
    width: 100%;
    padding-left: 242px;
    padding-right: 227px;
    justify-content: space-between;
}

.nova-transacao {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 42em;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 20px;
    width: 728px;
}


.row{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}


.pequeno-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 18px;
    flex-wrap: nowrap;
}

.grande-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 20px 20px 0px 20px;
}


.input-buttom { 
    max-width: 400px;
}

.texto-nova-transacao {
    display: block;
    margin: auto;
    font-size: 18px;
    
}



.transacao-texto{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    display: block;
    text-align: start;
    font-size: 18px;
    
}




.input-buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    
}

.input-transacao{
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    left: 0px;
    right: 0.2px;
    top: 24px;
    width: 100%;
}

.btn-transacao {
    background: #333333;
    border-radius: 4px;
    margin-top: 20px;
    color: #FFF;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 49px;
    width: 89%;
    /* margin: 0; */
    align-items: center;
    margin-left: 16px;
    

}





/*------------------------- Edtion Tabela Extrato -------------*/

.extrato-transacao {
    width: 100%;
    padding-top: 28px;
}

.texto-extrato{
    justify-content: center;
    display: flex;

}


.extrato-transacao .texto-extrato-transacao {

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 18px;

}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 20px 20px 0px;
    padding-right: 20px;
    text-align: end;

}



tbody td {
    padding: 13px;
    text-align: left;
    font-weight: 400;
    border-top: solid 1px #979797;
}


tr .valor-inicial {
    text-align: end;
    font-weight: 700;
}

tr .valor-total{
    text-align: end;
    font-weight: 700;
}

tr .texto-mercadoria {
    text-align: start;
    padding-left: 1.2em;
}

tr .valor-final{
    font-weight: 700;
}

tr .lucro {
    text-align: end;
}

tr .td-vazia, .lucro {
    border-top: 0px;


}

/*--------------------------- Media Screen Edtion ------------------*/



@media screen and (max-width: 1200px) {

    .cabecalho {
        display:flex;
        justify-content:space-between;
        padding-left: 20px;
        padding-right: 20px;
        
        
    } 

    .conteudo-principal {
        display: flex;
        width: 100%;
        padding-left: 2px;
        padding-right: 19px;
        justify-content: space-between;
    }
    
}


/*--------------------------768px---------------------------*/


@media screen and (max-width: 850px) {


    .cabecalho{
        margin-bottom: 0px;
    }

    .invisibol-h1 {
        display:block;
        font-size: 20px;
    }

    .controle-financeiro {
        display: none;
    }

    .cabecalho .nav {
        display: none;
    }
    

    .container {
        display: block;
    }



  /* --------------------- editon transa lado esquerdo --------*/


    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .nova-transacao {
        display: flex;
        flex-direction: column;
        width: 90vw;
    
    }

    .texto-nova-transacao {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .input-buttom .row{
        margin-top: 0px;
    }

    .pequeno-input {
        width: calc(20% - 30px);
    }

    .grande-input {
        width: calc(60% - 60px);
    }

    .input-transacao {
        width: 120px;
    }


    .input-buttom {
        flex-direction: row;
        max-width: 48em;
    }


    .transacao-texto {
    
        padding: 0;
        font-size: 12px;
    
    }

    .nova-transacao {
        border: 1px solid #97979797;
        margin: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: calc(100% - 10px);
        flex-wrap: wrap;
    }


    .nova-transacao > div {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .input-transacao {
        width: 100%;
    }

    .nova-transacao input, .nova-transacao select {
        border: 1px solid #97979797;
        border-radius: 4px;
        height: 32px;
    }

    .nova-transacao button {
        font-size: 12px;
        text-align: center;
        margin-top: 17px;
        width: 17%;
        margin-right: 9px;
        padding: 0px;
        
    }

    .btn-transacao {
        width: 20%;
        margin-top: 51px;
        padding-top: 3px;
    }



 /*----------------- Editon Table --------------*/


    table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0.6em;
    }
    

}

@media screen and (max-width: 708px) {
    
    .nova-transacao > div {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center    

    }

    .nova-transacao > input, select {
        width: 100%;
        border: 1px solid #97979797;
        border-radius: 4px;
        height: 32px;
    }
    

    .row {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0px 20px;
        display: contents;
    }


    .nova-transacao button { 
        width: 100%;
        margin: 0px;
        margin-top: 21px ;
        height: 35px;
    }

    .nova-transacao > h2 {
        display: none;
    }

    .nova-transacao {
        border: 0px;
    }
}